<div class="card-header p-0 row">
    <div class="col">
        <a
            class="btn p-2 btn-block text-left"
            role="button"
            data-toggle="collapse"
            data-target="#supplier"
            aria-expanded="false"
            aria-controls="supplier"
        >
            Suppliers
        </a>
    </div>
</div>
<div id="supplier" class="collapse" data-parent="#details">
    <div class="card-body p-2">
        <div class="row">
            {%for prj_sup in prj.suppliers.all%}
            <div class="col-md pb-3">
                <p class="mb-1">
                    {{prj_sup.supplier.name}}
                </p>
                <p class="mb-1 text-muted">
                    {{prj_sup.supplier.contact_person}} -
                    {{prj_sup.supplier.position}}
                </p>
                <p class="mb-1 text-muted">
                    <i class="fa fa-phone"></i> {{prj_sup.supplier.phone}}
                </p>
                <p class="mb-1 text-muted">
                    <i class="fa fa-at"></i> {{prj_sup.supplier.email}}
                </p>
            </div>
            {%empty%}
            <div class="col">
                <p>No supplier added</p>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
