<div class="chart-wrapper">
    <div class="chart-area-wrapper">
        <canvas
            data-url="{%url 'data-project-region'%}"
            id="projectRegion"
        ></canvas>
    </div>
</div>
<script>
    docReady(() => {
        let chartEl = document.getElementById("projectRegion");
        var ctx = chartEl.getContext("2d");
        let data = {
            datasets: [
                {
                    data: []
                }
            ],
            labels: []
        };
        let options = {
            plugins: {
                datalabels: {
                    formatter: function(value, context) {
                        return context.chart.data.datasets[0][
                            context.dataIndex
                        ];
                    },
                    color: "#f1f1f1"
                }
            },
            legend: {
                display: false
            },
            scales: {
                yAxes: [
                    {
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1
                        }
                    }
                ]
            }
        };
        var myPieChart = new Chart(ctx, {
            type: "bar",
            data: data,
            options: options
        });
        fetch(chartEl.dataset.url)
            .then(res => res.json())
            .then(res => {
                console.log(res);
                myPieChart.data.datasets = [
                    {
                        data: res.data,
                        backgroundColor: res.data.map(dynamicColor)
                    }
                ];
                myPieChart.data.labels = res.labels;
                myPieChart.update();
            })
            .catch(err => {
                console.error(err);
            });
    });
</script>
