<div class="chart-wrapper">
    <div class="chart-area-wrapper">
        <canvas
            data-url="{%url 'data-project-region-plus'%}"
            id="projectRegion"
        ></canvas>
    </div>
</div>
<script>
    docReady(() => {
        let chartEl = document.getElementById("projectRegion");
        var ctx = chartEl.getContext("2d");
        let fullData = [];
        let labels = [];
        let data = {
            datasets: [
                {
                    data: []
                }
            ],
            labels: []
        };
        let makeToolTip = (tooltipModel, ctx) => {
            let info = tooltipModel.dataPoints;
            var tooltipEl = document.getElementById("per-region-tooltip");
            if (!tooltipEl) {
                tooltipEl = document.createElement("div");
                tooltipEl.id = "per-region-tooltip";
                tooltipEl.innerHTML = `
            <div class="my_tootip shadow bg-white pl-2 pr-2">
                <h6 class="title">My Title</h6>
                <div class="districts text-muted"></div>
            </div>
        `;
                document.body.appendChild(tooltipEl);
            }
            if (tooltipModel.opacity === 0) {
                tooltipEl.style.opacity = 0;
                return;
            }

            if (tooltipModel.yAlign) {
                tooltipEl.classList.add(tooltipModel.yAlign);
            } else {
                tooltipEl.classList.add("no-transform");
            }

            function getBody(bodyItem) {
                return bodyItem.lines;
            }
            if (tooltipModel.body) {
                var root = tooltipEl.querySelector(".my_tootip");
                if (info) {
                    let label = labels[info[0].index];
                    let region = fullData[label];
                    root.querySelector(
                        ".title"
                    ).textContent = `${label} (${region.count})`;
                    let div = root.querySelector(".districts");
                    while (div.firstChild) {
                        div.removeChild(div.firstChild);
                    }
                    let listD = region.districts;
                    for (d in listD) {
                        let p = document.createElement("p");
                        p.textContent = `${d}: ${listD[d]}`;
                        p.classList.add(["mb-0"]);
                        div.appendChild(p);
                    }
                }
            }
            var position = ctx._chart.canvas.getBoundingClientRect();
            tooltipEl.style.opacity = 1;
            tooltipEl.style.position = "absolute";
            tooltipEl.style.left =
                position.left + window.pageXOffset + tooltipModel.caretX + "px";
            tooltipEl.style.top =
                position.top + window.pageYOffset + tooltipModel.caretY + "px";
            tooltipEl.style.fontFamily = tooltipModel._bodyFontFamily;
            tooltipEl.style.fontSize = tooltipModel.bodyFontSize + "px";
            tooltipEl.style.fontStyle = tooltipModel._bodyFontStyle;
            tooltipEl.style.padding =
                tooltipModel.yPadding + "px " + tooltipModel.xPadding + "px";
            tooltipEl.style.pointerEvents = "none";
        };
        let options = {
            plugins: {
                datalabels: {
                    formatter: function(value, context) {
                        let info = context.chart.data.datasets[0];
                        return info.data[context.dataIndex];
                    },
                    color: "#f1f1f1"
                }
            },
            legend: {
                display: false
            },
            scales: {
                yAxes: [
                    {
                        ticks: {
                            beginAtZero: true
                        }
                    }
                ]
            },
            tooltips: {
                enabled: false,
                custom: function(model) {
                    makeToolTip(model, this, fullData);
                }
            }
        };
        var myPieChart = new Chart(ctx, {
            type: "bar",
            data: data,
            options: options
        });
        fetch(chartEl.dataset.url)
            .then(res => res.json())
            .then(res => {
                console.log(res);
                fullData = res.full;
                labels = res.labels;
                myPieChart.data.datasets = [
                    {
                        data: res.data,
                        backgroundColor: res.data.map(dynamicColor)
                    }
                ];
                myPieChart.data.labels = res.labels;
                myPieChart.update();
            })
            .catch(err => {
                console.error(err);
            });
    });
</script>
