<div class="card-header p-0">
    <a
        class="btn p-2 btn-block text-left"
        role="button"
        data-toggle="collapse"
        data-target="#consultant"
        aria-expanded="false"
        aria-controls="consultant"
    >
        Consultants
    </a>
</div>
<div id="consultant" class="collapse" data-parent="#details">
    <div class="card-body p-2">
        <div class="row bg-light pt-2 pb-2">
            <div class="col">
                <a
                    href="{%url 'projects-consultant-create' prj.id %}"
                    role="button"
                    class="btn btn-sm btn-outline-primary"
                    >Add Consultant</a
                >
            </div>
        </div>
        <div class="row">
            {%for prj_cons in prj.consultants.all%}
            <div class="col-md pb-3">
                <p class="mb-1">
                    {{prj_cons.consultant.name}}
                </p>
                <p class="mb-1 text-muted">
                    {{prj_cons.consultant.contact_person}} -
                    {{prj_cons.consultant.position}}
                </p>
                <p class="mb-1 text-muted">
                    <i class="fa fa-phone"></i> {{prj_cons.consultant.phone}}
                </p>
                <p class="mb-1 text-muted">
                    <i class="fa fa-at"></i> {{prj_cons.consultant.email}}
                </p>
                <form
                    method="POST"
                    action="{%url 'projects-consultant-delete' prj_cons.id%}"
                >
                    {% csrf_token %}
                    <button class="btn btn-sm btn-outline-danger">
                        <i class="fa fa-trash-alt"></i> Delete
                    </button>
                    <a
                        class="btn btn-sm btn-outline-secondary"
                        href="{%url 'projects-consultant-update' prj.id prj_cons.id%}"
                        role="button"
                        ><i class="fa fa-edit"></i> Edit</a
                    >
                </form>
            </div>
            {%empty%}
            <div class="col">
                <p>No consultant added</p>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
