{% extends "core/base.html" %} {% block content %}
<div class="row pb-3">
    <div class="col-md-4 d-flex">
        <div class="card">
            <h5 class="card-header">Authorities</h5>
            <div class="card-body">
                <p class="card-text">
                    Each project is related to one government authority.
                    Register and manage authorities from here
                </p>
            </div>
            <div class="card-footer text-muted">
                <a href="#" class="btn btn-sm btn-outline-secondary">Manage</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex">
        <div class="card">
            <h5 class="card-header">Contractors</h5>
            <div class="card-body">
                <p class="card-text">
                    Each project is assigned to one or more contractors. A
                    contractor can be as main or sub contractor. Register and
                    manage contractors f3om here
                </p>
            </div>
            <div class="card-footer text-muted">
                <a href="#" class="btn btn-sm btn-outline-secondary">Manage</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex">
        <div class="card">
            <h5 class="card-header">Financiers</h5>
            <div class="card-body">
                <p class="card-text">
                    Each project financed by one or more financiers. Register
                    and manage financiers from here
                </p>
            </div>
            <div class="card-footer text-muted">
                <a href="#" class="btn btn-sm btn-outline-secondary">Manage</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 d-flex">
        <div class="card">
            <h5 class="card-header">Consultants</h5>
            <div class="card-body">
                <p class="card-text">
                    Each project assigned to one or more consultants. Register
                    and manage consultants from here
                </p>
            </div>
            <div class="card-footer text-muted">
                <a href="#" class="btn btn-sm btn-outline-secondary">Manage</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex">
        <div class="card">
            <h5 class="card-header">Locations</h5>
            <div class="card-body">
                <p class="card-text">
                    Each project is executed in a certain location. Location is
                    described in terms of Region, manicipal and town. Also GPS
                    location is captured at the site. Register and manage
                    consultants from here
                </p>
            </div>
            <div class="card-footer text-muted">
                <a href="#" class="btn btn-sm btn-outline-secondary">Manage</a>
            </div>
        </div>
    </div>
</div>
{% endblock content%}
