{% extends "core/base.html" %} {% block content %}
<div class="row pb-3">
    <div class="col-md-6">
        <ul class="list-group mt-2">
            <li
                class="list-group-item d-flex justify-content-between align-items-center"
            >
                <a href="{%url 'setups-authority-list'%}">Authorities</a>
                <span class="badge badge-primary badge-pill"
                    >{{authority_count}}</span
                >
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-center"
            >
                Consultants
                <span class="badge badge-primary badge-pill"
                    >{{consultant_count}}</span
                >
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-center"
            >
                Contractors
                <span class="badge badge-primary badge-pill"
                    >{{contractor_count}}</span
                >
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-center"
            >
                Financers
                <span class="badge badge-primary badge-pill"
                    >{{financer_count}}</span
                >
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-center"
            >
                Suppliers/Distributors
                <span class="badge badge-primary badge-pill"
                    >{{supplier_count}}</span
                >
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="list-group mt-2">
            <li
                class="list-group-item d-flex justify-content-between align-items-center"
            >
                Types
                <span class="badge badge-primary badge-pill"
                    >{{type_count}}</span
                >
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-center"
            >
                Sizes
                <span class="badge badge-primary badge-pill"
                    >{{size_count}}</span
                >
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-center"
            >
                Statuses
                <span class="badge badge-primary badge-pill"
                    >{{status_count}}</span
                >
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-center"
            >
                Regions
                <span class="badge badge-primary badge-pill"
                    >{{region_count}}</span
                >
            </li>
            <li
                class="list-group-item d-flex justify-content-between align-items-center"
            >
                Districts
                <span class="badge badge-primary badge-pill"
                    >{{district_count}}</span
                >
            </li>
        </ul>
    </div>
</div>
{% endblock content%}
