{% extends "core/base.html" %} {% block content %}
<div class="row pb-3">
    <div class="col-md-6">
        <ul class="list-group mt-2">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{%url 'setups-brand-list'%}">Brands</a>
                <span class="badge badge-primary badge-pill">{{brand_count}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{%url 'setups-consultant-list'%}">Consultants</a>
                <span class="badge badge-primary badge-pill">{{consultant_count}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{%url 'setups-contractor-list'%}">Contractors</a>
                <span class="badge badge-primary badge-pill">{{contractor_count}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{%url 'setups-financer-list'%}">Financers</a>
                <span class="badge badge-primary badge-pill">{{financer_count}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{%url 'setups-supplier-list'%}">Suppliers/Distributors</a>
                <span class="badge badge-primary badge-pill">{{supplier_count}}</span>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="list-group mt-2">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{%url 'setups-type-list'%}">Types</a>
                <span class="badge badge-primary badge-pill">{{type_count}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{%url 'setups-size-list'%}">Sizes</a>
                <span class="badge badge-primary badge-pill">{{size_count}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{%url 'setups-status-list'%}">Statuses</a>
                <span class="badge badge-primary badge-pill">{{status_count}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{%url 'setups-region-list'%}">Regions</a>
                <span class="badge badge-primary badge-pill">{{region_count}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{%url 'setups-district-list'%}">Districts</a>
                <span class="badge badge-primary badge-pill">{{district_count}}</span>
            </li>
        </ul>
    </div>
</div>
{% endblock content%}