{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<!-- Bootstrap CSS -->
<link
    rel="stylesheet"
    href="{% static 'core/bootstrap/css/bootstrap.min.css' %}"
/>
<link rel="stylesheet" href="{% static 'core/fa/css/all.min.css' %}" />
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'core/styles.css' %}"
/>
<script src="//cdn.jsdelivr.net/bluebird/3.5.0/bluebird.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js"></script>
<script type="text/javascript" src="{%static 'core/core.js'%}"></script>
