{% load static %}
<header class="app-bg-primary sticky-top">
    <nav class="container text-light navbar navbar-dark navbar-expand-md">
        <a href="#" class="navbar-brand">Twiga <span class="pmt">PMT</span></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navMenu" aria-controls="navMenu"
            aria-expanded="false" aria-label="Toggle navigation" id="menu-toggle-btn">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navMenu">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                {%for menu in request.allowed_menus%}
                <li class="nav-item">
                    <a class="nav-link" href="{%url menu.url_name%}" title="{{menu.name}}">
                        {{menu.name}}
                    </a>
                </li>
                {%endfor%}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users-logout' %}" title="Logout">
                        Logout
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users-login' %}" title="Login">
                        You are not logged in, please Login
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>