{% extends "core/pop.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Supplier</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button
                    type="button"
                    class="btn btn-outline-warning"
                    onclick="window.close();"
                >
                    Close
                </button>
                <button class="btn btn-outline-info" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock content%}
