{% extends "core/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="content-section col-md-6 offset-md-3">
    <form method="POST" class="border">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom bg-light pl-2 pr-2">Reset Password</legend>
            <div class="pl-2 pr-2">
                {{ form|crispy }}
            </div>
        </fieldset>
        <div class="form-group pl-2 pr-2">
            <button class="btn btn-outline-info" type="submmit">
                Reset
            </button>
            <br/>
            <br/>
            Have your password? <a href="{% url 'users-login' %}">Login</a>
        </div>
    </form>
</div>
{% endblock content%}
