<script type="text/javascript">
let loadDistrUrl = "{% url 'popup-setups-load-districts' %}";
let refreshOnRegion = (el, cb) => {
    document.querySelector("#btn_select_district").disabled = el
        .value ?
        false :
        true;
    let id = el.value | 0;
    fetch(`${window.location.origin}${loadDistrUrl}?region=${id}`)
        .then(res => {
            return res.text();
        })
        .then(function(res) {
            document.querySelector("#id_district").innerHTML = res;
            cb()
        })
        .catch(function(error) {
            console.log("Request failed", error);
        });
};
(function() {
    console.log(loadDistrUrl);
    document.querySelector("#id_region").addEventListener("change", e => {
        console.log(e);
        let el = e.target
        refreshOnRegion(el, () => {
            console.log('Loaded successfully')
        })
    });

    let w = window.innerWidth / 2;
    let h = (window.innerHeight * 3) / 5;
    let baseUrl = window.location.origin;
    let regionSel = undefined;
    [
        { name: "type", url: '{% url "popup-setups-type-create" %}' },
        { name: "region", url: '{% url "popup-setups-region-create" %}' },
        { name: "district", url: '{% url "popup-setups-district-create" %}' },
        { name: "authority", url: '{% url "popup-setups-authority-create" %}' },
        { name: "status", url: '{% url "popup-setups-status-create" %}' },
        { name: "size", url: '{% url "popup-setups-size-create" %}' }
    ].forEach(fld => {
        let name = fld.name;
        console.log(fld, name)
        let container = document.querySelector(`#div_id_${name}`);
        if (container) {
            let sel = container.querySelector("select");
            let btn = document.createElement("button");
            btn.innerHTML = `<i class="fa fa-plus"></i>`;
            btn.classList.add("btn");
            btn.classList.add("btn-link");
            btn.classList.add("text-secondary");
            btn.classList.add("pr-0");
            btn.classList.add("pl-1");
            btn.dataset.url = fld.url;
            btn.type = "button";
            btn.classList.add("add-other");
            btn.title = "Add other";
            if (name === "district") {
                btn.disabled = document.querySelector("#id_region").value ? false : true;
                btn.id = "btn_select_district";
            }
            sel.parentNode.insertBefore(btn, sel.nextSibling);
            sel.parentElement.classList.add("d-flex");
            if (name === 'region') {
                regionSel = sel;
            }
            if (name === 'district') {
                let tmp = sel.value;
                // console.log('Value: ', tmp);
                refreshOnRegion(regionSel, () => {
                    sel.value = tmp;
                });
            }
        }
    });

    let list = document.querySelectorAll(".add-other");

    list.forEach(btn => {
        btn.addEventListener("click", e => {
            let url = btn.dataset.url;
            url = baseUrl + url;
            if (btn.id === "btn_select_district") {
                url = `${url}?region=${
                        document.querySelector("#id_region").value
                    }`;
            }
            console.log(url);
            popupCenter(url, "popUpWindow", w, h);
        });
    });
})();

function closePopup(newID, newRepr, id) {
    let x = document.querySelector(id);
    let option = document.createElement("option");
    option.text = newRepr;
    option.selected = true;
    option.value = newID
    x.add(option);

    console.log("Select: ", x);
    if (x.id === 'id_region') {
        refreshOnRegion(x)
    }

    console.log(newID, newRepr, id);
    popupWindow.close();
}

function popupCenter(url, title, w, h) {
    var dualScreenLeft =
        window.screenLeft != undefined ? window.screenLeft : window.screenX;
    var dualScreenTop =
        window.screenTop != undefined ? window.screenTop : window.screenY;

    var width = window.innerWidth ?
        window.innerWidth :
        document.documentElement.clientWidth ?
        document.documentElement.clientWidth :
        screen.width;
    var height = window.innerHeight ?
        window.innerHeight :
        document.documentElement.clientHeight ?
        document.documentElement.clientHeight :
        screen.height;

    var systemZoom = width / window.screen.availWidth;
    var left = (width - w) / 2 / systemZoom + dualScreenLeft;
    var top = (height - h) / 2 / systemZoom + dualScreenTop;
    top = (top * 3) / 10;
    popupWindow = window.open(
        url,
        title,
        "resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes,width=" +
        w / systemZoom +
        ", height=" +
        h / systemZoom +
        ", top=" +
        top +
        ", left=" +
        left
    );

    if (window.focus) popupWindow.focus();
}

</script>
