{% extends "core/base.html" %} {% load humanize %} {% load crispy_forms_tags %}
{% block content %}
<div class="row pb-2">
    <div class="col-md">
        <h5>List of projects</h5>
    </div>
    <div class="col-md">
        <div class="button-group float-md-right">
            <a href="#" class="btn btn-sm btn-outline-secondary"><i class="fa fa-file-excel"></i> Import</a>
            <a href="{% url 'projects-export' %}" class="btn btn-sm btn-outline-primary"><i class="fa fa-file-excel"></i> Export</a>
            <a class="btn btn-primary btn-sm " href="{% url 'projects-create' %}"><i class="fa fa-plus"></i> New Project</a>
        </div>
    </div>
</div>
<div class="row small">
    <div class="col table-responsive-sm">
        <form method="post" class="mb-2 bg-light pb-2">
            {% csrf_token %}
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-md form-inline" id="filter-form">
                        {{ filter.form|crispy }}
                    </div>
                    <div class="pr-2">
                        <button type="submit" class="btn btn-sm btn-outline-info mt-2 float-md-right">
                            <a class="fa fa-filter"></a> Search
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <table class="table table-sm table-hover table-bordered">
            <thead class="bg-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Type</th>
                    <th scope="col">Size</th>
                    <th scope="col">StartDate</th>
                    <th scope="col">Authority</th>
                    <th scope="col">Contractors</th>
                    <th scope="col">Consultants</th>
                    <th scope="col">Status</th>
                    <th scope="col">
                        <span class="nowrap">Duration(Yrs)</span>
                    </th>
                    <th scope="col">Financers</th>
                    <th scope="col">
                        <span class="nowrap">Quantity(Tons)</span>
                    </th>
                    <th scope="col">
                        <span class="nowrap">Supplied(Tons)</span>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            {% for prj in filter.qs %}
            <tr>
                <td scope="row">{{prj.id}}</td>
                <td>{{prj.name}}</td>
                <td>{{prj.get_location}}</td>
                <td>{{prj.type}}</td>
                <td>{{prj.size}}</td>
                <td>{{prj.start_date}}</td>
                <td>{{prj.authority}}</td>
                <td>
                    {%for c in prj.contractors.all %}
                    <p class="text-muted mb-0">
                        <i class="fa fa-check text-muted"></i>
                        {{c.contractor.name}}
                    </p>
                    {%empty%}
                    <span class="text-warning">Not set</span>
                    {%endfor%}
                </td>
                <td>
                    {%for c in prj.consultants.all %}
                    <p class="text-muted mb-0">
                        <i class="fa fa-check text-muted"></i>
                        {{c.consultant.name}}
                    </p>
                    {%empty%}
                    <span class="text-warning">Not set</span>
                    {%endfor%}
                </td>
                <td>{{prj.status}}</td>
                <td>{{prj.duration }}</td>
                <td>
                    {%for f in prj.financers.all %}
                    <p class="text-muted mb-0">
                        <i class="fa fa-check text-muted"></i>
                        {{f.financer.name}}
                    </p>
                    {%empty%}<span class="text-warning">Not set</span>
                    {%endfor%}
                </td>
                <td>{{prj.quantity_demanded|floatformat:2 }}</td>
                <td>{{prj.quantity_supplied|floatformat:2 }}</td>
                <td>
                    <a role="button" class="btn btn-link btn-sm" href="{% url 'projects-detail' prj.id %}"><i class="fa fa-eye"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% for prj in projects %} {% endfor %}
</div>
<script type="text/javascript">
(function() {
    let getEl = (selector, prnt) => {
        return prnt.querySelector(selector);
    };
    let addCls = (el, cls) => {
        cls.split(" ").forEach(cl => {
            el.classList.add(cl);
        });
    };
    let form = document.querySelector("#filter-form");
    form.querySelectorAll(".form-group").forEach(grp => {
        addCls(grp, "input-group input-group-sm mr-2 mt-2");
        let label = getEl("label", grp);
        let div = document.createElement("div");
        let span = document.createElement("span");
        addCls(div, "input-group-prepend");
        addCls(span, "input-group-text");
        span.textContent = label.textContent;
        grp.removeChild(label);
        div.appendChild(span);
        let inputDiv = getEl("div", grp);
        let crtr = getEl(".form-control", inputDiv);
        grp.removeChild(inputDiv);
        grp.appendChild(div);
        grp.appendChild(crtr);
    });
})();

</script>
{% endblock content%}
