{% extends "core/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3 small">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Project</legend>
                <div class="d-flex justify-content-between">
                    <p>
                        GPS:
                        <span id="coordinates"
                            >{{form.instance.get_coordinates}}</span
                        >
                    </p>
                    <div class="button-group">
                        <button
                            type="button"
                            class="btn btn-sm btn-outline-secondary"
                            id="captureGPS"
                        >
                            <a class="fa fa-search-location"></a> Capture GPS
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#mapModel">
                          <i class="fa fa-map-marked-alt"></i> Map
                        </button>
                    </div>
                </div>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info btn-block" type="submit">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
{%include 'projects/map-model.html'%}
<script type="text/javascript">
    let setLocation = loc => {
        document.querySelector("input[name=longitude]").value =
            loc.coords.longitude;
        document.querySelector("input[name=latitude]").value =
            loc.coords.latitude;
        document.querySelector(
            "#coordinates"
        ).textContent = `(${loc.coords.longitude.toFixed(
            4
        )}, ${loc.coords.latitude.toFixed(4)})`;
    };
    document.querySelector("#captureGPS").addEventListener("click", e => {
        console.log("Capture location");
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(setLocation);
        }
    });
</script>
{% include 'projects/form_scripts.html' %} {% endblock content%}
{% block my_script%}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQ7WXCqy5-cyHTyho_XLgBDHJZe4n-nAw&callback=initMap" async defer></script>
{%endblock%}
