{% extends "core/base.html" %} {% load static %} {% block content %}
<div class="row">
    {%for item in summary_items%}
    <div class="col-sm col-6">
        <p class="bg-light p-1 text-center"><span>{{item.name}}: </span><span class="text-primary">{{item.value}}</span></p>
    </div>
    {%endfor%}
</div>
<div class="row">
    <div class="col-md pb-2">
        <div class="card">
            <div class="card-header p-2">
                <h5 class="m-0">Type Of Projects</h5>
            </div>
            <div class="card-body">
                {% include 'dashboard/charts/project-type.html' %}
            </div>
        </div>
    </div>
    <div class="col-md pb-2">
        <div class="card">
            <div class="card-header p-2">
                <h5 class="m-0">Project Status/Stages</h5>
            </div>
            <div class="card-body">
                {% include 'dashboard/charts/project-status.html' %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md pb-2">
        <div class="card">
            <div class="card-header p-2">
                <h5 class="m-0">Project Size</h5>
            </div>
            <div class="card-body">
                {% include 'dashboard/charts/project-size.html' %}
            </div>
        </div>
    </div>
    <div class="col-md pb-2">
        <div class="card">
            <div class="card-header p-2">
                <h5 class="m-0">Supplier Projects</h5>
            </div>
            <div class="card-body">
                {% include 'dashboard/charts/project-supplier.html' %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <div class="card">
            <div class="card-header p-2">
                <h5 class="m-0">Projects Per Region</h5>
            </div>
            <div class="card-body">
                {% include 'dashboard/charts/project-region.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock content%} {% block my_script %}
<script
    type="text/javascript"
    src="{%static 'core/chartjs/chart.bundle.js'%}"
></script>
<script
    type="text/javascript"
    src="{%static 'core/chartjs/datalabels.js'%}"
></script>
<script type="text/javascript">
    // Chart.plugins.unregister(ChartDataLabels);
</script>
{% endblock %}
