{% extends "core/base.html" %} {% load static %} {% block content %}
<div class="row">
    <div class="col-md">
        <h6>My Map here</h6>
        <div id="map" style="width: 100%; height: 36rem;"></div>
    </div>
</div>
<script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -6.7924, lng: 39.2083},
          zoom: 8
        });
      }
</script>
{% endblock content%}
{% block my_script%}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQ7WXCqy5-cyHTyho_XLgBDHJZe4n-nAw&callback=initMap" async defer></script>
{%endblock%}
